name: Bump

on:
  workflow_dispatch:
  schedule:
    - cron: 0 6 * * *

jobs:
  bump-pixi:
    name: Reference latest Pixi version in README
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Assert latest pixi version is mentioned in README
        id: bump
        run: |
          set -euo pipefail
          latest_version="$(gh repo view --json latestRelease prefix-dev/pixi | jq -r '.latestRelease.tagName')"
          echo latest-version=$latest_version >> $GITHUB_OUTPUT
          latest_version_no_v=${latest_version#v}
          sed -i "s/ARG PIXI_VERSION=.*/ARG PIXI_VERSION=$latest_version_no_v/" Dockerfile
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create pull request
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0
        if: github.ref_name == 'main'
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: Bump pixi version to ${{ steps.bump.outputs.latest-version }}
          title: Bump pixi version to ${{ steps.bump.outputs.latest-version }}
          labels: enhancement
          branch: bump-pixi-${{ steps.bump.outputs.latest-version }}
